@import "compass";
@import "vendor/html5-boilerplate";

$background-color: #242424;
$meta-color: #444;
$canvas-color: $background-color;
$canvas-meta-color: #303030;
$linenumbers-color: lighten($background-color, 30%);
$linenumbers-background-color: #000;

$link-color:         #0388a6;
$link-hover-color:   #009ce0;
$link-focus-color:   false;
$link-active-color:  false;
$link-visited-color: false;

$font-color:  #fff;
$font-family: monospace, sans-serif;
$base-font-size:   14px;
$base-line-height: 20px;

$total-cols: 12;
$col-width: 4em;
$gutter-width: 1em;
$side-gutter-width: $gutter-width;

$nerdtree-width: 200px;
$main-margin-left: $nerdtree-width + 7;

@include global-reset;

body {
  font-family: $font-family;
  color: $font-color;
  background-color: $background-color;
  font-size: $base-font-size;
}

#ascii {
  background-color: $background-color;
  width: 540px;
  display: block;
  margin: 0 auto;
  color: lighten($background-color, 8%);
}

#footer {
  padding-left: $main-margin-left;
  @include clearfix;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
}

#nerdtree {
  ol {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    li a {
      color: $font-color;
      padding-left: 15px;
    }

    a {
      display: block;

      &:hover {
        background-color: $canvas-meta-color;
      }
    }
  }
}

a, a:visited, a:active {
  color: #66a4e6;
}

.slashes {
  color: #cadb68;
}

ol {
  background-color: $linenumbers-background-color;
  list-style: initial;
  list-style-type: decimal;
  padding-left: 2.8em;

  li {
    background-color: $canvas-color;

    code {
      color: $font-color;
    }
  }
}

code {
  white-space: pre-wrap;
}

pre, li {
  color: $linenumbers-color;
}

#container {
  background-color: $meta-color;
}

#main {
  margin-left: $main-margin-left;
}

#main, #nerdtree {
  background-color: $canvas-meta-color;
}

#vim {
  @include clearfix;
}

#nerdtree {
  width: $nerdtree-width;
  float: left;
  overflow: hidden;
}

#caret {
  background-color: $font-color;
  color: $canvas-color;

  &.blink {
    background-color: $canvas-color;
    color: $font-color;
  }
}

#caret-position {
  position: absolute;
  right: 100px;
}

#caret-percentage {
  position: absolute;
  right: 3px;
}
