#about.post
  %img#portrait{ :src => "anton_mikulcic.jpg", :alt => "Anton Mikulcic" }
  %h1 Hi, my name is Anton Mikulcic
  
  %p I'm a professional software developer from Munich/ Germany and I used to be a Java Geek until I found Ruby on Rails. Yay!
  %p Up to now I design and develop web applications. People also like me to implement their UX related stuff like jQuery or experimental CSS.
  %p
    You can
    %span#eyecatcher.eyecatcher
    for outrageous and cutting-edge projects or join my <a href="http://www.xing.com/profile/Anton_Mikulcic" target="_blank">XING</a>-Network.
  %p
    %a.continue{ :href => '#imprint' }
      Imprint

#imprint.post
  %p Codepuzzle is my freelancer promotion label and stands for a self-imposed dogma of writing efficient and reusable code that <i>fits</i>.
  %p Here's where you can contact me:
  %p#skype
    %script{ :type => "text/javascript", :src => "http://download.skype.com/share/skypebuttons/js/skypeCheck.js" }
    %a{ :href => "skype:codepuzzle?call" }
      %img{ :src => "http://mystatus.skype.com/balloon/codepuzzle", :style => "border: none;", :width => "150", :height => "60", :alt => "My Skype status" }
  %p.address
    %a{ :href => "http://www.codepuzzle.de/" } Anton Mikulcic
    %br
    Hans-Mielich-Str. 26
    %br
    81543 Munich / Germany
  %p.address.highlighted
    Phone: +49 151&nbsp;<span class="visuallyhidden">12 34 56 78 90</span>/&nbsp;<span class="visuallyhidden">12 34 56 78 90</span>27&nbsp;<span class="visuallyhidden">12 34 56 78 90</span>03&nbsp;<span class="visuallyhidden">12 34 56 78 90</span>84&nbsp;<span class="visuallyhidden">12 34 56 78 90</span>42
  %p#m.address
  %p
    %a.back.continue{ :href => '#about' }
      Back
